<div *ngIf="cart.length <= 0">
    <h3 class="text-center">No items in the Cart!</h3>
</div>
<div *ngIf="cart.entries.length>0;then showCart else showNoCart"></div>
      <ng-template #showCart>
          <table class="table table-striped table-hover" >
              <thead>
                  <tr style="color:white;background-color:black">
                  <th>Product Name</th>
                  <th>Quantity Amount</th>
                  <th>Product Price</th>
                  <th>Product Image</th>
                  </tr>
              </thead>
          
              <tbody >
                <tr *ngFor="let entry of cart.entries; let i = index">
                  <td>{{entry.product.name}}</td>
                  <td>{{entry.quantity}}</td>
                  <td>{{entry.totalprice}}</td>
                  <td><img src={{entry.product.src}} width="100" height="100" /></td>
                  <td style="color:blue;background-color:white"><button (click)="removeProduct(entry)" class="btn btn-xs btn-danger">Remove</button></td>
                </tr>
          
                <tr class="warning">
                  <td><h4></h4></td>
                  <td>Total Items: <font size="5" style="color:red">{{cart.totalQuantity}}</font></td>
                  <td>Total: <font size="5" style="color:red">INR {{cart.totalPrice}}/-</font></td>
                  <td><button (click)="checkout()" class="btn btn-md btn-success">Checkout</button></td>
                </tr>
              </tbody>
          </table>
        </ng-template>
      <ng-template #showNoCart>
          <div >
            <strong><label style="font-size:35px">No products currently in Cart.</label></strong><br>
            <a class="tablink1" routerLink="/"><img width="50" height="50" src="..\..\..\assets\img\back.png" /> </a>
          </div>
      </ng-template>  
